
@keyframes fadeIn { 
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
@keyframes fadeOut { 
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

#content {
	width: 60%;
}

#title{
    font-weight: 900;
    color:#707070;
    font-size: 25px;
    padding: 40px 0 30px;
}

#info-wrapper{
	border-top:solid 3px #707070; 
	width: 100%;
}

#picture-wrapper{
	border-top:solid 1px #C8C8C8; 
	padding-top: 30px;
}

#coordi-post{
	height:10%;
    float:left;
    width:100%;
    text-align: center;
    margin:20px
}

.select{
width: 335px;
height: 38px;
padding: 5px;
border: 1px solid #C8C8C8;
font-family: inherit;
background: url('/resources/images/icon/down.png') no-repeat 95% 50%;
background-size: 15px;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 15px;
float: left;
}

#select-category2 span input[type="text"]{
    resize: none;
    width: 335px;
    height: 38px;
    padding: 5px;
    border: 1px solid #C8C8C8;
    font-family: inherit;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#C8C8C8;
    vertical-align: middle;
    margin: 15px;
}

.textarea2{
	    resize: none;
    width: 335px;
    height: 38px;
    padding: 5px;
    border: 1px solid #C8C8C8;
    font-family: inherit;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#C8C8C8;
    vertical-align: middle;
    margin: 15px;
}



.select-category{
display: block; 
height: auto;
width: 100%;
float: left
}


#select-category2{
	float:left;
}

#select-category2>div span{
	display:inline-block;
	height:30px;
	margin:15px;
}

.info-detail{
}
.info-detail>div{border-bottom:solid 1px #D9D9D9; height: 120px}

.info-detail>div:nth-last-child(1){
    border:0;
}

.info-detail>div>div:nth-last-child(1){
    border:0;
}

input[id="info-check"]{
    display: none;
    font-size: 16px;
}

input[id="info-check"] + label {
    display: block;
    height: 90px;
    line-height: 90px;
    cursor:pointer;
    padding: 0 30px;
}
input[id="info-check"] + label + div{
    max-height: 0;
    overflow: hidden;
    animation: fadeOut .8s;
}

input[id="info-check"]:checked + label + div{
    max-height: 1500px;
    animation: fadeIn .8s;
}
#info-wrapper>label>span:first-child>b {
	padding: 0 20px 0 10px;
}
#info-wrapper>label>span:last-child>img {
	margin-top: 40px;
}

#insert-item{
    height: auto;
    width: auto;
    display: block;
}


#pic-insert{border:solid 1px grey; width:200px; height: 200px}

#insert-picture{
    float:left; 
    width:50% ; 
    height:488px; 
    border-right: solid 1px #C8C8C8;
    position: relative;
    margin: 10px;
    
}
#insert-info{
    float:left; width:40%; height:400px ; padding:20px;position: relative;margin: auto;
}
#coordi-info1{
    width:auto; 
    height:130px;
    position:relative;
    margin: auto;
}
#hashtag{
    float:left; 
    width:100%; 
    height:150px; 
    padding: 16px; 
    position:relative;
}

#uploadFile{
    display: none;
}


.input_wrap{
    border: solid 1px #C8C8C8; 
    width: 500px; 
    height: 500px;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#707070;
    margin: auto;
    cursor:pointer;
     text-align: center;
     display: inline-block;
}

#select-category2 input[type="button"]{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    color:white;
    border:0;
    cursor:pointer;
    
}

.imgs_wrap{
	height:500px;
	width:150px;
	float:right;
	margin-right:20px
}

.btn-style-mint{
	width:120px;
}
.togglebox>a button{
    border-radius: 20px;
    border: solid 1px #C8C8C8;
    font-size:16px;
    text-align: center;
    width: 120px;
    height: 30px;
    color:#707070;
    float:left;
    padding:20px;
    margin: 15px;
    padding-bottom: 30px;
    padding-top: 10px;
    cursor:pointer;
    
}


.togglebox{
    position: relative;
    margin: auto;
    width: auto;
    height: 80px;
    display: block;
}

.subject{
    font-size: 18px;
    color:#707070;
    margin: 20px 20px 20px 0px;
    height:10%;
}




.textarea{
    width: 100%; 
    height:150px ; 
    border: solid 1px #C8C8C8; 
    padding: 16px; 
    resize: none}

#item-info{
    height: auto;
    width: auto;
}

.item-info2{
	height:70px;
}

.item-info2 div:nth-child(1){
	width:15%;
	height:100%;
	float:left;
	line-height:4;
}
.item-info2 div:nth-child(2){
	width:85%;
	height:100%;
	float:left;
}
#item-info>div span{
    display: inline;
}

#user-info{
    height: auto;
}


#item-info>div p{
    display: inline;
    
}
#item-info>div>span{
    display: inline-block;
    width:100px;
    
}
#user-info>div>span{
    display:inline-block;
    width:100px;
}

#user-info>div p{
    display: inline
    
}



        
