@charset "UTF-8";

.tabs{
	margin: 40px 0 30px;
	dispaly:inline-block;
}
.tabs li{
	display: inline-block;
	width:150px;
	height:60px;
	line-height: 60px;
	border:0.5px solid #C8C8C8;
	text-align:center;
	font-size: 18px;
	border-radius: 100px;
	margin-right: 20px;
	cursor : pointer;
}
.tabs li.current{
	color: white;
	border: 0;
	background-color: #A9D4D9;
}

.tab-content{
	display: none;
}
.tab-content.current{
	display: block;
	position: relative;
	padding-bottom: 80px;
}
.tab-content>span {
	position: absolute;
	top: -40px;
	right: 0;
}

.img-coordi-area {
	width: 100%;
}
.img-coordi-box {
	width: 23.6%;
	height: 400px;
	margin : 0 1.5% 20px 0;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
	position: relative;
}
.img-coordi-area .img-coordi-box:nth-child(4n) {
	margin-right: 0;
}
.img-coordi-box>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: all 0.2s linear;
}
.img-coordi-box:hover>img {
	transform: scale(1.05);
	transition: all 0.2s linear;
}

.rank {
	position: absolute;
	top: 0;
	left: 20px;
	display: flex;
	justify-content: center;
}
.fa-bookmark {
	font-size: 40px;
	color: #C8C8C8;
	position: relative;
}
.img-coordi-box:nth-child(1) .fa-bookmark,
.img-coordi-box:nth-child(2) .fa-bookmark,
.img-coordi-box:nth-child(3) .fa-bookmark {
	color: #A9D4D9;
}

.rank>span {
	position: absolute;
	top: 2px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}
.likeScrapArea {
	top: 20px;
	right: 20px;
}
.box-nick {
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.box-nick>.profile {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-color: #fff;
}
.nickName {
	position: relative;
	top: -12px;
	display: inline-block;
	color: white;
	padding-left: 10px;
}
