@charset "UTF-8";

*
		{
		font-family: 'Noto Sans KR', sans-serif;
		}
		
#join{
           width:400px;
           height:1000px;
           margin: 0 auto;
       }
       .span
       {
           font-weight:bold;
           font-size:16px;
           color:#707070;
           margin: 0px 0px 13px 0px;
       }
       .span2
       {
           font-size:12px; 
           float:right;  
           margin: 0px 0px 13px 0px;
           color:#707070;
       }
       
        input[type="checkbox"] 
       {
        -webkit-appearance: none;
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none !important;
        border: 1px solid #eeeeee;
        border-radius: 2px;
        background: #fbfbfb;
        }
 
        input[type="checkbox"]::before 
       {
        content: "\2713";
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        transform: scale(0) translate(-50%, -50%);
        line-height: 1;
        }
       input[type="checkbox"]:hover 
       {
        border-color: rgba(170, 170, 170, 0.5);
        }
 
        input[type="checkbox"]:checked 
       {
        background-color: #A9D4D9;
        border-color: #A9D4D9;
        color: white;
        }
          input[type="checkbox"]:checked::before 
       {
        border-radius: 2px;
        transform: scale(1) translate(-50%, -50%)
        }
       
       
        input[type=radio]{
            background-color: #FFFF;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin-left: 16px;
            border: 1px solid rgb(216, 216, 216);
            width: 14px;
            height: 14px;
            border-radius: 100%;
        }
        input[type=radio]:checked{
            background-color: #A9D4D9;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin-left: 16px;
            border: none;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }