@charset "UTF-8";

#content {
	width: 100%;
	padding: 0;
}

#joinForm{
    width: 400px;
    margin: 0 auto;
    padding: 80px 0;
}

#logo {
	width: 180px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#logo img {
	display: block;
	width: 100%;
	height: 100%;
}

.title {
    font-weight: 700;
}

.explain {
    font-size: 12px; 
    float: right;
}
.input-style {
	width: 100%;
	margin: 10px 0 30px;
	clear: both;
}
.input-style[name=userPwd] {
	margin-bottom: 0;
}
.input-style[name=userEmail] {
	margin-bottom: 10px;
}

.btn-style-mint{
	width: 100%;
}
.btn-certified {
	margin-bottom: 30px;
}

.box-radio {
	width: 100%;
	margin: 20px 0 30px;
	display: flex;
	justify-content: space-between;
}
.box-radio input {
	margin-right: 10px;
	position: relative;
	top: 1.5px;
}

.box-agree {
	width: 100%;
	padding: 20px;
	margin: 10px 0 30px;
	border: 0.5px solid #D9D9D9;
}
.box-agree input {
	margin-right: 15px;
}
.whole {
	margin-top: 5px;
}
.whole:after {
	content: "";
	display: block;
	width: 100%;
	height: 0.5px;
	background-color: #D9D9D9;
	margin-top: 20px;
}

.box-checkbox>div {
	margin: 20px 0;
}
.box-checkbox>div:last-child {
	margin-bottom: 0;
}
.small {
	font-size: 12px;
	color: #A9D4D9;
}
.un {
	color: #C8C8C8;
}

/*라디오 버튼 커스텀*/
input[type=radio]{
	background-color: #FFFF;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid rgb(216, 216, 216);
	width: 16px;
	height: 16px;
	border-radius: 100%;
}
input[type=radio]:checked{
	background-color: #A9D4D9;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}