@charset "UTF-8";

/*기본 설정*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	color: #707070;
	letter-spacing: -0.3px;
}

/*페이지세로 가변적인 길이 유지*/
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #F5F5F5;
}
#wrap {
	min-height: 100%;
	position: relative;
}

/*content 기본형식*/
#content{
	min-height: 100%;
	width: 85%;
	float: right;
}

/*top 디자인*/
#top {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10% 0 30px;
	background-color: #fff;
}
#topLink {
	font-size: 16px;
	color: #C8C8C8;
	white-space: normal;
}
#topTitle {
	font-weight: 700;
	font-size: 18px;
}
#topTitle:after {
	content: "";
	display: inline-block;
	background-color: #C8C8C8;
	width: 0.5px;
	height: 15px;
	margin: 0 20px;
}
#top>a {
	font-size: 16px;
}

/*bottom*/
#bottom {
	width: 85%;
	height: 80px;
	background-color: #fff;
	display: flex;
	align-items: center;
	padding-left: 30px;
	position: absolute;
	right: 0;
}
#bottom p{
	font-size: 14px;
}

/*container 영역*/
#container {
	width: 80%;
	min-height: 100vh;
	margin: 30px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
}
#searchAndBtn {
	display: flex;
	justify-content: space-between;
}

/*select 태그 디자인*/
#boxSelect {
	display: inline-block;
	width: 120px;
	height: 40px;
	position: relative;
}
.select-style {
	width: 100%;
	height: 100%;
	border: 0.5px solid #C8C8C8;
	font-size: 16px;
	padding: 0 15px;
	
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select-style::-ms-expand { 
	display: none;
}
.fa-chevron-down {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 12px;
}

/*input_text 태그 디자인*/
#boxSearch {
	display: inline-block;
	padding-left: 15px;
	width: 250px;
	height: 40px;
	position: relative;
}
.input-style {
	width: 100%;
	height: 100%;
	border: 0.5px solid #C8C8C8;
	font-size: 16px;
	padding: 0 45px 0 15px;
}
input::placeholder,
textarea::placeholder {
  	color: #C8C8C8;
}
input:focus,
select:focus,
textarea:focus
 {
	outline: none;
}
textarea {
	white-space: pre-wrap;
}
#boxSearch button {
	position: absolute;
	top: 12px;
	right: 15px;
	border: 0;
	background-color: #fff;
	cursor: pointer;
}
.fa-search {
	font-size: 18px;
}

/*input_checkbox 태그 디자인*/
/*체크박스 커스텀*/
input[type="checkbox"] {
	-webkit-appearance: none;
	position: relative;
	width: 16px;
	height: 16px;
	cursor: pointer;
	outline: none !important;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	background: #fff;
	top: 1.5px;
}
input[type="checkbox"]::before {
	content: "\2713";
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}
input[type="checkbox"]:hover {
	border-color: rgba(170, 170, 170, 0.5);
}
input[type="checkbox"]:checked {
	background-color: #A9D4D9;
	border-color: #A9D4D9;
	color: white;
}
input[type="checkbox"]:checked::before {
	border-radius: 2px;
	transform: scale(1) translate(-50%, -50%)
}
input[type="checkbox"]:disabled {
	background-color: #F5F5F5;
	border-color: #F5F5F5;
	cursor: default;
}
input[type="checkbox"]:disabled:hover {
	border-color: #F5F5F5;
}

/*button 디자인*/
.btn-style {
	width: 120px;
	height: 100%;
	line-height: 50px;
	border: 0;
	background-color: #FD8A69;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}
.btn-style>a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
}

.btn-style-icon {
	width: 30px;
	height: 30px;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-style-icon>i {
	font-size: 15px;
}
.deactivate .fas {
	color: #C8C8C8;
}
.deactivate .fa-trash, .deactivate .fa-trash-restore {
	color: #707070;
}

.btn-modify {
	cursor: pointer;
}
.btn-one-withdraw,.btn-one-notice-delete {
	cursor: pointer;
}

/*table 디자인*/
table {
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #707070;
	border-collapse: collapse
}
table>tbody {
	width: 100%;
}
table>tbody>tr {
	width: 100%;
	height: 80px;
	border-bottom: 0.5px solid #D9D9D9;
}
table>tbody>tr>th,
table>tbody>tr>td {
	padding: 0 20px;
	font-size: 15px;
	text-align: left;
}
table>tbody>tr>th {
	font-weight: 700;
}
.deactivate>td {
	color: #C8C8C8;
}

/*page navi*/
#page_wrap {
    width: 100%;
    padding-top: 30px;
}
#page_wrap .page_ul {
    display: flex;
    justify-content: flex-end;
}
#page_wrap .page_ul li {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    margin: 0 5px;
    line-height: 15.5px;
    font-size: 16px;
}
#page_wrap .page_ul li a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
    padding: 10px;
    border-radius: 50%;
}
#page_wrap .page_ul li a.page_active {
    background-color: #A9D4D9;
    border-radius: 10px;
    color: #fff;
}

/*ellipsis 설정*/
.relative {
	position: relative;
}
.ellipsis {
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.box-hovor {
	display: none;
	width: 400px;
	background-color: #fff;
	padding: 30px;
	border: 0.5px solid #C8C8C8;
	border-radius: 10px;
	box-shadow: 3px 3px 10px;
	position: absolute;
	top: 35px;
	right: 10px;
	z-index: 999;
}
.deactivate .ellipsis {
	color: #C8C8C8;
}
.deactivate .relative>div:last-child {
	display: none;
}

/*의상 정보*/
.box-style {
	display: none;
	width: 350px;
	background-color: #fff;
	padding: 30px;
	border: 0.5px solid #C8C8C8;
	border-radius: 10px;
	box-shadow: 3px 3px 10px;
	position: absolute;
	top: 40px;
	right: 30px;
	z-index: 999;
}
.style {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.box-style .style:last-child {
	margin-bottom: 0;
}
.img-style {
	width: 100px;
	height: 100px;
	padding: 16px;
	background-color: #FAFAFA;
}
.img-style img {
	width: 100%;
	height: 100%;
}
.txt-style {
	font-size: 16px;
	padding-left: 20px;
}
.txt-style p {
	font-weight: 500;
	padding-bottom: 10px;
}

/*hashtag*/
.box-hashtag {
	display: none;
	width: 400px;
	background-color: #fff;
	padding: 25px;
	border: 0.5px solid #C8C8C8;
	border-radius: 10px;
	box-shadow: 3px 3px 10px;
	position: absolute;
	top: 40px;
	right: 30px;
	z-index: 999;
}
.h-wrap {
	background-color: #F5F5F5;
	padding: 5px 9px;
	float: left;
	margin: 5px;
}