@charset "UTF-8";

/*기본 설정*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	color: #707070;
	letter-spacing: -0.3px;
}


/*페이지세로 가변적인 길이 유지*/
html {
	height: 100%;
}
body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	position: relative;
}


/*content 기본형식*/
#content{
	width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}


/*input 태그 디자인*/
/*input 태그에 적용*/
.input-style {
	height: 50px;
	border: 0.5px solid #C8C8C8;
	padding: 15px;
	font-size: 16px;
}
input::placeholder,
textarea::placeholder {
  	color: #C8C8C8;
}
input:focus,
select:focus,
textarea:focus
 {
	outline: none;
}
textarea {
	white-space: pre-wrap;
}


/*검색창 디자인*/
.box-search {
	float: right;
	position: relative;
}
.search-style {
	width: 300px;
	height: 40px;
	border: 0.5px solid #C8C8C8;
	padding: 0 40px 0 15px;
	font-size: 16px;
}
.box-search>a {
	position: absolute;
	top: 9px;
	right: 15px;
	font-size: 15px;
}


/*button 디자인(민트)*/
/*button 태그에 적용*/
.box-btn {
	text-align: center;
}
.btn-style-mint {
	/*width는 개별 css에서 설정해주세요*/
	height: 50px;
	line-height: 50px;
	border: 0;
	background-color: #A9D4D9;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}
.btn-style-mint>a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
	color: #fff;
}


/*button 디자인(테두리만)*/
/*button 태그에 적용*/
.btn-style-line {
	/*width는 개별 css에서 설정해주세요*/
	height: 50px;
	line-height: 50px;
	border: 0.5px solid #C8C8C8;
	background-color: #fff;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
.btn-style-line>a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
}


/*button 디자인(회색)*/
/*button 태그에 적용*/
.btn-style-gray {
	/*width는 개별 css에서 설정해주세요*/
	height: 50px;
	line-height: 50px;
	border: 0;
	background-color: #C8C8C8;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}
.btn-style-gray>a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
	color: #fff;
}


/*사용자 프로필 디자인(사진만)*/
/*div 태그에 적용(div>a>img의 형태)*/
.profile {
	/*width와 height는 개별 css에서 설정해주세요*/
	border: 3px solid #707070;
	border-radius: 100px;
	overflow: hidden;
}
.profile>a {
	width: 100%;
	height: 100%;
}
.profile>a>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*pageNavi*/
#page_wrap {
    width: 100%;
    padding-top: 40px;
}
#page_wrap .page_ul {
    display: flex;
    justify-content: center;
}
#page_wrap .page_ul li {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    margin: 0 5px;
    line-height: 15.5px;
    font-size: 16px;
}
#page_wrap .page_ul li a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
    padding: 10px;
    border-radius: 50%;
}
#page_wrap .page_ul li a.page_active {
    background-color: #A9D4D9;
    border-radius: 10px;
    color: #fff;
}


/*체크박스 커스텀*/
input[type="checkbox"] {
	-webkit-appearance: none;
	position: relative;
	width: 16px;
	height: 16px;
	cursor: pointer;
	outline: none !important;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	background: #fff;
	top: 1.5px;
}
input[type="checkbox"]::before {
	content: "\2713";
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}
input[type="checkbox"]:hover {
	border-color: rgba(170, 170, 170, 0.5);
}
input[type="checkbox"]:checked {
	background-color: #A9D4D9;
	border-color: #A9D4D9;
	color: white;
}
input[type="checkbox"]:checked::before{
	border-radius: 2px;
	transform: scale(1) translate(-50%, -50%)
}


/*좋아요,스크랩 버튼*/
.likeScrapArea {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 80px;
}
.like {
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}
.scrap {
	width: 30px;
	height: 30px;
	cursor: pointer;
}