@charset "UTF-8";


        #body {
            width: 100%;
            overflow: hidden;

            cursor: default;
        }



        .contents-wrap {
            width: 80.59%;
            border-left: 1px solid #C8C8C8;
            float: left;
            margin-left: 20%;
            min-height: 800px;
        }

        .contents-title-wrap {
            width: 96.24%;
            height: 50px;
            margin-left: 2.77%;
            margin-right: 0.92%;
        }

        .contents-title {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: #707070;
            float: left;

        }

        .contents-num {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: #A9D4D9;
            float: left;
            margin-left: 5px;
        }

        .contents-plus>a {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #A9D4D9;
            float: right;
            margin-top: 20px;
            cursor: pointer;
        }

        .contents-area {
            width: 98.14%;
            margin-left: 1.38%;
            overflow: hidden;
        }

        .contents {
            width: 30.5%;
            margin: 1.41%;
            float: left;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
        }

        .contents:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        .contents>img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .likeScrap-wrap{
            width: 30px;
            height: 80px;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
        .likeIcon{
            width: 30px;
            height: 30px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .scrapIcon{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        #space {
            width: 100%;
            height: 50px;
        }
