@charset "UTF-8";

 
        #body {
            width: 100%;
            overflow: hidden;
            cursor: default;
        }


        .contents-wrap {
            width: 80.59%;
            border-left: 1px solid #C8C8C8;
            float: left;
            margin-left: 20%;
            min-height: 712px;
        }

        .contents-title-wrap {
            width: 96.24%;
            height: 40px;
            margin-left: 2.77%;
            margin-right: 0.92%;
        }

        .contents-title {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: -0.03em;
            color: #707070;
            float: left;
        }

        #pwdUpdate {
            color: #A9D4D9;
        }
        

        #line {
            margin: 0 30px;
            margin-top: 8px;
            height: 15px;
            width: 0px;
            float: left;
            border-left: 0.5px solid #C8C8C8;
        }

        #floatSpace {
            width: 100%;
            overflow: hidden;
            height: 23px;
            margin-bottom: 10px;
        }

        .rowLine {
            margin-left: 2.77%;
            height: 0;
            width: 100%;
            border-bottom: 0.5px solid #C8C8C8;
        }


        .contents-area {
            width: 98.14%;
            margin-left: 1.38%;
            overflow: hidden;
        }

        #contents-data-wrap {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        #contents-comment {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            letter-spacing: -0.03em;
            color: #707070;
            margin: 0 auto;
        }

        .input-wrap {
            width: 100%;
        }

        .titleName {
            margin-left: 2.77%;
            display: inline-block;
            width: 20%;
            height: 110px;
            line-height: 110px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.03em;
            color: #707070;
        }

        .input-style {
            width: 400px;
            height: 50px;
            margin-top: 30px;
            /*
            border-color: #FD8A69;
            */
        }
        .check{
            margin-left: 23.5%;
            margin-top: -20px;
            margin-bottom: 20px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 12px;
            color: #FD8A69;
            display: none;
        }

        #updateBtn {
            width: 80px;
            height: 50px;
            margin-top: 40px;
            margin-left: 45%;
            text-align: center;
        }


        #space {
            width: 100%;
            height: 50px;
        }
