@charset "UTF-8";

/*tab 디자인*/
.box-tabs {
	display: inline-block;
	padding-top: 40px;
}
.tabs {
	display: flex;
	flex-direction: row;
}
.tab-link {
	width: 200px;
	height: 70px;
	line-height: 70px;
	border: 0.5px solid #C8C8C8;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}
.current {
	background-color: #A9D4D9;
	border: none;
	color: #fff;
}



.tab-content.on {
	display: block;
}

.box-search {
	top: -20px;
}

.box-search>button {
	position:absolute;
	top:9px;
	right:15px;
	font-size:15px;
	border:0;
	background-color:#fff;
}
/*notice 디자인*/
.notice {
	width: 100%;
	margin-top: -40px;
}


/*table 디자인*/
table {
	width: 100%;
	border-top: 1px solid #707070;
	border-collapse: collapse;
}
table>tbody {
	width: 100%;
}
table>tbody>tr {
	width: 100%;
	height: 90px;
	border-bottom: 0.5px solid #D9D9D9;
}
table>tbody>tr>th {
	font-weight: 700;
}
table>tbody>tr>td {
	padding: 0 40px;
	text-align: center;
}
table>tbody>tr>td:nth-child(2) {
	text-align: left;
}
table>tbody>tr>td>a {
	display: inline-block;
	position: relative;
	z-index: 9999;
}

.ellipsis {
	width: 600px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*카테고리 버튼 디자인*/
.box-category {
	float: right;
	position: relative;
	top: -60px;
}
.box-category>button {
	width: 120px;
	height: 40px;
	background-color: #fff;
	color: #707070;
	border: 0.5px solid #C8C8C8;
	border-radius: 10px;
	margin-left: 20px;
	font-size: 16px;
	line-height: 40px;
}
.box-category>button:hover {
	background-color: #A9D4D9;
	border-width: 0;
}
.box-category>button>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
}
.box-category>button>a:hover {
	color: #fff;
}


/*faq 디자인*/
.faq {
	width: 100%;
	border-top: 1px solid #707070;
	padding-bottom: 80px;
}

.faq-row {
	width: 100%;
	border-bottom: 0.5px solid #D9D9D9;
}
.q-box {
	width: 100%;
	line-height: 90px;
	position: relative;
}
.q-box>span {
	display: inline-block;
	width: 145px;
	padding: 0 40px;
	text-align: center;
}
.q-box>div {
	display: inline-block;
	padding: 0 40px;
}
.q-box>div>span {
	padding-right: 15px;
}
.q-box>div>span:first-child {
	font-size: 18px;
	font-weight: 500;
	color: #A9D4D9;
}
.fa-chevron-down {
	position: absolute;
	right: 40px;
	top: 45%;
	transition: all 0.2s;
}
.fa-chevron-down.on {
	transform: rotate(180deg);
	transition: all 0.2s;
}
.a-box {
	width: 100%;
	background-color: rgba(169,212,217,0.15);
	padding: 30px 0 30px 200px;
	display: none;
}
.a-box>span {
	font-size: 18px;
	font-weight: 500;
	color: #71A4AA;
	padding-right: 15px;
	float: left;
}


#page_wrap {
	padding-bottom: 80px;
}
